# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual env
.venv/
venv/

# IDE / OS
.idea/
.vscode/
.DS_Store

# Logs, local artifacts
*.log

# Env with secrets
.env
*.env

# Если точно не нужны в репо:
# *.db
# *.csv
# *.xlsx
